<!-- BEGIN shared/_aside.html.erb -->
<footer class="global">
	<nav>
		<!-- NICK SAYS: "Pull out all of the line breaks and tabs after the logic has been worked out." -->
		<ul>
			<li><a href="#">Footer Link</a></li>
			<li><a href="#">Footer Link</a></li>
			<li><a href="#">Footer Link</a></li>
		</ul>
		<div class="clear"></div>
	</nav>
</footer>
<!-- END shared/_aside.html.erb -->