<!-- BEGIN _aside.html.erb -->
	<footer>
		<nav>
			<ul>
				<li><a href="#">Footer Link</a></li>
				<li><a href="#">Footer Link</a></li>
				<li><a href="#">Footer Link</a></li>
			</ul>
		</nav>
	</footer>
	<!-- END _aside.html.erb -->