<!-- BEGIN shared/_header.html.erb -->
<header class="global">
	<a href="/" id="logo"><img src="/themes/typewriter-blank/images/logo.png" alt="{{site name}}" /></a>
	<%= render :partial => '/shared/primaryNav' %>
</header>
<!-- END shared/_header.html.erb -->