<!-- BEGIN _primaryNav.html.erb -->
<div id="primaryNav">
	<ul>
	<% current_account.pages.roots.each do |page| %>
		<li><%= link_to_path page.title, page %></li>
	<% end %>
	</ul>
</div>
<!-- END _primaryNav.html.erb -->