<!-- BEGIN _primaryNav.html.erb -->
<div id="primaryNav">
	<ul>
		<li><a href="/" title="">Home</a></li>
		<li><a href="/blog/" title="">Blog</a></li>
		<li><a href="/profiles/" title="">Profiles</a></li>
	</ul>
</div>
<!-- END _primaryNav.html.erb -->