<!-- BEGIN shared/_subNav_news.html.erb -->
<nav class="subNav">
	<!-- NICK SAYS: "Pull out all of the line breaks and tabs after the logic has been worked out." -->
	<ul>
		<li><a href="#">List</a></li>
		<li><a href="#">Subnav</a></li>
		<li><a href="#">Here</a></li>
	</ul>
	<!-- Did you read what Nick says? -->
</nav>
<div class="clear"></div>
<!-- END shared/_subNav_news.html.erb -->