<%
# Partial that is included via the following syntax: [include includes/name key:value]
# Keys are then available inside this file through vars["key"] => value.
# To process the includes, use the following syntax: with_includes(page.body) as opposed to raw page.body

# current_account is available.
%>

<p>Do something!</p>