<!-- BEGIN profiles/not-chuck-norris/type.html.erb (like index.html.erb) -->
<h2>Not Chuck Norris¡</h2>

<%= render :partial => @profiles %>

<% if @profiles.total_pages > 1 %>
<p>View <%= will_paginate @profiles, :previous_label => "newer", :next_label => "older", :separator => " or ", :page_links => false, :container => false %> profiles.</p>
<% end %>
<!-- END profiles/horses/type.html.erb -->