<!-- BEGIN _profile.html.erb -->
<div class="profile">
	<h3><%= link_to(profile.name, profile) %></h3>

	<%= raw profile.description %>

	<div class="clear"></div>
</div>
<!-- END _profile.html.erb -->