<!-- BEGIN single.html.erb -->
<% content_for :head do %>
	<% #inserted in the end of the <head> section %>
<% end %>

<% content_for :footer do %>
	<% #inserted right before the closing </body> tag %>
<% end %>

<h1><%= page.title %></h1>

<%= raw(page.body) %>
<!-- END single.html.erb -->