<%
classes = ''

if @page.ancestor_ids.include?(child.id) || @page.id == child.id
	classes = classes + 'current '
end

if child.has_children?
	hasKids = ' hasKids'
else
	hasKids = ''
end

%>
<li class="<%= "#{classes}subNav_#{child_counter} #{child.depth} " + hasKids %>"><%= link_to_path( child.title, child) %><% if child.has_children? %><ul class="subSub"><%= render :partial => "subNav", :collection => child.published_children, :as => :child %></ul><% end %></li>