<!-- BEGIN _comment.html.erb -->
<li class="comment"><p><%= comment.body %></p><p>By <%=h comment.author %> <span>on</span> <%=h comment.created_at.to_formatted_s(:short_timestamp) %></p></li>
<!-- END _comment.html.erb -->