<!-- BEGIN posts/_comment.html.erb -->
<li class="comment"><p><%= comment.body %></p><p>By <%=h comment.author %> <span>on</span> <%=h comment.created_at.to_formatted_s(:short_timestamp) %></p></li>
<!-- END posts/_comment.html.erb -->