<!-- BEGIN posts/archives.html.erb -->
<% content_for :recentPosts do %>
	<% recentPosts = current_account.posts.recent_posts(current_account) %>
	<!-- Cached recent posts. -->
	<ul>
		<li>Recent News</li>
		<%= render :partial => 'recentPosts', :collection => recentPosts, :as => :post %>
	</ul>
<% end %>

<% content_for :archives do %>
	<% months = current_account.posts.find_months(current_account) %>
	<!-- Cached archives. -->
	<ul>
		<li>Archives</li>
		<%= render :partial => 'archives', :collection => months, :as => :month %>
	</ul>
<% end %>

<% content_for :footer do %>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f6a216627f69242"></script>
<% end %>

<h2>Archives for <%= @date.strftime("%B, %Y") %></h2>

<%= render :partial => @posts %>
<!-- END posts/archives.html.erb -->