<!-- BEGIN archives.html.erb -->
<% content_for :recentPosts do %>
	<% recentPosts = current_account.posts.recent_posts(current_account) %>
	<!-- Cached recent posts. -->
	<ul>
		<li>Recent News</li>
		<%= render :partial => 'recentPosts', :collection => recentPosts, :as => :post %>
	</ul>
<% end %>

<% content_for :archives do %>
	<% months = current_account.posts.find_months(current_account) %>
	<!-- Cached archives. -->
	<ul>
		<li>Archives</li>
		<%= render :partial => 'archives', :collection => months, :as => :month %>
	</ul>
<% end %>

	<section id="primary_content">
		<h2>Archives for <%= @date.strftime("%B, %Y") %></h2>

		<%= render :partial => @posts %>
	</section>
	<!-- END archives.html.erb -->